[package]
name = "nanorand"
description = "A tiny, fast, zero-dep library for random number generation."
repository = "https://github.com/aspenluxxxy/nanorand-rs"
keywords = ["rand", "random", "no-std", "entropy"]
categories = ["algorithms", "no-std"]
readme = "README.md"
version = "0.2.0"
authors = ["aspen <luxx4x@protonmail.com>"]
edition = "2018"
license = "Zlib"

[features]
default = ["std", "ctor", "wyrand"]
std = []
wyrand = []
ctor = ["std"]

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "randbench"
harness = false